.app {
  padding: 1em;
  margin: 0 0.5em;
}
.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.home-text {
  margin-top: 3rem;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
}
